* {
    font-family: Noah, sans-serif
}

@font-face {
    font-family: Noah;
    src: url(Noah-Regular.woff);
}

/* Header  */

.header {
    width: 100vw;
    background-color: #1fc8db;
    background-image: linear-gradient(141deg, #9FBAA0 0%, #839BB2 51%, #9682A7 75%);
    font-family: inherit;
}

.logo {
    font-size: 32px;
    font-weight: bold;
    color: #FFFFFF;
    font-family: inherit;
    text-decoration: none;
    float:left;
    display:block;
    padding: 10px;
    padding-left:20px;
}

.nav-container {
    color: #FFF;
    font-family: inherit;
    clear:both;
    overflow:hidden;
    display:block;
    max-height: 0;
    padding-left: 10px;
    transition: max-height 0.2s ease-out;
}

.menu-btn {
    display: none;
}

.menu-icon {
    display:block;
    position: relative;
    float:right;
    font-size: 32px;
    padding: 10px;
    color:  #fff;
}

.menu-btn:checked ~ .nav-container {
    max-height: 240px;
}

.nav-item {
    font-size: 24px;
    font-family: inherit;
    padding: 10px;
}

@media(min-width: 768px) {
    .menu-icon {
        display: none;
    }

    .nav-container {
        clear: none;
        float:right;
        max-height:none;
        padding: 4px;
        padding-right: 20px;
    }

    .nav-item {
        float:left;
    }
}
/* Footer */

.footer {
    width: 100vw;
    height: 52px;
    background-color: #454545;
    color: #FFF;
    font-weight: bold;
    font-size: 24px;
    font-family: inherit;
    display: flex;
    align-items: center;
}

.footer-msg {
    font-family: inherit;
    text-align: left;
    padding-left: 42px;
    flex: 1;
}

.footer-cr {
    font-family: inherit;
    text-align: right;
    padding-right: 42px;
    flex: 1;
}

/* Content */

.page-container {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.content {
    flex: 1;
}

.selected {
    text-decoration-line: underline;
    font-weight: bold;
}

.nav-item a {
    color :#FFF;
    text-decoration: none;
}

.bg-green {
    background-color: #9fb8ad;
}

.bg-blue {
    background-color: #839bb2;
}

.title {
    font-size: 48px;
    color: #ffff;
}

.contact-card {
    display: flex;
    flex-direction: column;
    justify-content: start;
}

html {
    overflow: scroll;
    overflow-x: hidden;
}