* {
    font-family: Helvetica, sans-serif
}
.header {
    width: 100vw;
    height: 120px;
    /* background-color: #454545; */
    background-color: #1fc8db;
background-image: linear-gradient(141deg, #9fb8ad 0%, #1fc8db 51%, #2cb5e8 75%);
    position: absolute;
    left: 0;
    top: 0;
    font-family: inherit;
}

.logo {
    font-size: 36px;
    font-weight: bold;
    position: absolute;
    width: 180px;
    height: 96px;
    display: inline-block;
    top: 12px;
    left: 42px;
    text-align: center;
    color: #FFFFFF;
    font-family: inherit;
}

.nav-container {
    width: 446px;
    height: 29px;
    display: inline-block;
    position: absolute;
    top: 48px;
    right: 42px;
    top: 48px;
    color: #FFF;
    font-family: inherit;
}

.nav-item {
    display: inline-block;
    font-size: 24px;
    margin-left: 24px;
    font-family: inherit;
}

.footer {
    width: 100vw;
    height: 90px;
    display: inline-block;
    position: fixed;
    left: 0;
    bottom: 0;
    background-color: #454545;
    color: #FFF;
    font-weight: bold;
    font-size: 24px;
    font-family: inherit;
}

.footer-msg {
    display: inline-block;
    width: 494;
    height: 62px;
    position: absolute;
    left: 62px;
    top: 12px;
    font-family: inherit;
}

.footer-cr {
    display: inline-block;
    width: 187px;
    height: 62px;
    right: 42px;
    top:12px;
    position: absolute;
    font-family: inherit;
}

.avatar {
    width: 370px;
    height: 370px;
}

.intro {
    display: inline-block;
    position: absolute;
    width: 1668px;
    height: 559px;
    top: 343px;
    left: 126px;
}

.intro .title {
    font-size: 96px;
}

.intro .desc {
    font-size: 48px;
}