* {
    font-family: Noah, sans-serif
}

@font-face {
    font-family: Noah;
    src: url(Noah-Regular.woff);
}

.header {
    width: 100vw;
    height: 75px;
    background-color: #1fc8db;
    background-image: linear-gradient(141deg, #9fb8ad 0%, #1fc8db 51%, #2cb5e8 75%);
    font-family: inherit;
    display: flex;
    align-items: center;
}

.page-container {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.content {
    flex: 1;
}

.logo {
    font-size: 36px;
    font-weight: bold;
    text-align: center;
    color: #FFFFFF;
    font-family: inherit;
    flex: 1;
    text-align: left;
    padding-left: 42px;
}

.nav-container {
    flex: 1;
    color: #FFF;
    font-family: inherit;
    text-align: right;
    padding-right: 42px;
}

.nav-item {
    display: inline-block;
    font-size: 24px;
    margin-left: 24px;
    font-family: inherit;
}

.footer {
    width: 100vw;
    height: 75px;
    background-color: #454545;
    color: #FFF;
    font-weight: bold;
    font-size: 24px;
    font-family: inherit;
    display: flex;
    align-items: center;
}

.footer-msg {
    font-family: inherit;
    text-align: left;
    padding-left: 42px;
    flex: 1;
}

.footer-cr {
    font-family: inherit;
    text-align: right;
    padding-right: 42px;
    flex: 1;
}

.selected {
    text-decoration-line: underline;
    font-weight: bold;
}

.nav-item a {
    color :#FFF;
    text-decoration: none;
}

.bg-green {
    background-color: #9fb8ad;
}

.bg-blue {
    background-color: #839bb2;
}

.title {
    font-size: 48px;
    color: #ffff;
}

.contact-card {
    display: flex;
    flex-direction: column;
    justify-content: start;
}