.content {
  display: flex;
  flex-direction: column;
  justify-items: center;
  justify-content: space-around;
  flex-wrap: wrap;

  padding: 45px;
}

.main-img {
  max-width: 35%;
  height: 300px;
  margin-left: 15px;
  background-size: cover;
}

.row > .project-pill, .content > .project-pill {
  margin-bottom: 15px;
  border-radius: 20px;
  flex: 1 1;
}

.project-pill {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  justify-items: center;
  flex-wrap: wrap;
  color: #fff;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  text-align: center;
  justify-content: space-around;
  justify-items: center;
}

.desc.title, .desc.desc{
  text-align: left;
  padding-right: 40px;
  padding-left: 40px;
  padding-bottom: 20px;
  font-size: 36px;
}

.main.title {
  font-weight: bold;
}

.desc.desc{
  text-align: justify;
}

.desc.title {
  padding-top: 20px;
  font-weight: bold;
}

.gallery-img {
  width: 350px;
  height: 255px;
  padding-bottom: 20px;
  margin-left: 5px;
  margin-right: 5px;
  object-fit: cover;
  overflow: hidden;
}

.gallery-img-src {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all ease 0.2s;
  transform: none;
  overflow: hidden;
  transform-box: border-box;
}

.gallery-img-src:hover {
  transform: matrix(1.05,0,0,1.05,0,0);
}

.gallery {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  justify-items: center;
  padding-right: 20px;
  padding-left: 20px;
}

.title.gallery {
  font-size: 36px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 40px;
  font-weight:bold;
}

.row > div {
  font-size: 28px;
}