:root {
    --background-color: #6e8379;
    --grid-element-width: 400px;
    --grid-element-height: 300px;
}

@font-face {
    font-family: 'icomoon';
    src: url('../fonts/icomoon.ttf?4brevy') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: block;
  }
  
  * {
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
    scroll-behavior: smooth;
  }
  
  html {
    scroll-behavior: smooth;
    overscroll-behavior-y: none;
    font-family: Montserrat, sans-serif;
    font-size: 18px;
  }
  
  header {
    position: fixed;
    z-index: 100;
    top: 0;
    padding: 16px;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
  
    background-color: var(--background-color);
    border-bottom: 1px solid #b9b9b9;
  }
  
  header a {
    padding-right: 20px;
    text-decoration: none;
    font-weight: 500;
    color: white;
  }
  
  .home {
    flex: 1;
    font-weight: bold;
  }
  
  .headroom {
    will-change: transform;
    transition: transform 200ms linear;
  }
  
  .headroom--pinned {
    transform: translateY(0%);
  }
  .headroom--unpinned {
    transform: translateY(-100%);
  }
  
  .title {
    scroll-snap-align: start;
    display: flex;
    justify-content: center;
  
    padding-top: 50px;
    padding-bottom: 50px;
  }
  
  .projects {
    display: grid;
    grid-template-columns: repeat(auto-fill,var(--grid-element-width));
    grid-template-rows: repeat(auto-fill,var(--grid-element-width));
    justify-items: center;
    justify-content: center;
    gap: 45px;
  }
  
  .project {
    width: var(--grid-element-width);
    height: var(--grid-element-width);
  
    overflow: hidden;

    border-radius: 2px;
    background: white;
    border: 1px solid #c9c9c9;
    border-radius: 12px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    box-shadow: 1px 1px 12px -1px rgba(0,0,0,0.57);
    -webkit-box-shadow: 1px 1px 12px -1px rgba(0,0,0,0.57);
    -moz-box-shadow: 1px 1px 12px -1px rgba(0,0,0,0.57);
  }
  
  .project:hover, .project:focus, .project:active {
    cursor: pointer;
    box-shadow: 1px 1px 29px -1px rgba(0,0,0,0.57);
    -webkit-box-shadow: 1px 1px 29px -1px rgba(0,0,0,0.57);
    -moz-box-shadow: 1px 1px 29px -1px rgba(0,0,0,0.57);
  }
  
  .project img {
    width: var(--grid-element-width);
    height: 75%;
  
    object-fit: cover;
    object-position: 50% 50%; 
  }

  .project-title {
    font-size: 24px;
    font-weight: 500;
  }
    
  .about {
    padding: 20px;
    display: inline-flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
    background-color: var(--background-color);

    position: relative;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 2px;

    gap: 40px;

    margin-top: 100px;
  }

  @media(min-width: 768px) {
    .about {
      flex-direction: row;
    }
  }

  .about-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .headshot {
    width: 200px;
    height: 200px;
    border-radius: 50%;
  }
  
  .info {
    display: flex;
    flex-direction: column;
    padding: 15px;
    margin-left: 15px;  
    color: #fff;
  }
  
  .info h3 {
    font-size: 24px; 
  }
  
  .info p {
    max-width: 450px;
  }
  
  #modal {
    position: fixed;
    top: 9999px;
    left: 50%;
    transition: all 1s ease-in-out;
    z-index: 500;
    background-color: white;
    max-height: 95vh;
    max-width: 95vw;
    overflow-y: scroll;
    border: 1px solid #d3d3d3;
    border-radius: 3px;
  }
  
  #modal.show {
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
  
    padding: 24px;
  }
  
  #modal .modal-title {
    text-align: center;
  }
  
  #modal-overlay {
    background-color: rgba(0,0,0,0);
    transition: all 0.5s ease-in-out;
  }
  
  #modal-overlay.show {
    position: fixed;
    z-index: 400;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0,0.7);
    transition: all 0.5s ease-in-out;
  }
  
  .contact-me {
    font-family: 'icomoon';
    font-size: 0px;
    list-style: none;
  
    display: flex;
    width: 100%;
    align-self: center;
    justify-content: center;
  }
  
  .contact-me a {
    text-decoration: none;
    display: inline-flex;
    padding: 12px;
    color: #fff;
    transition: color 0.5s ease-in-out;
  }
  
  .contact-me a::before {
    font-size: 42px;
  }
  
  .contact-me a:hover {
    color: #333;
  }
  
  .icon-linkedin:before {
    content: "\eac9";
  }
  
  .icon-behance:before {
    content: "\eaa9";
  }
  
  .icon-github:before {
    content: "\eab0";
  }
  
  #footer {
    display: flex;
    width: 100%;
    justify-content: center;
    padding: 48px;
    margin-top: 100px;
  }
  
  .cover-wrapper {
    display: inline-flex;
    text-align: center;
    width: 50vw;
    height: 265px;
  
    position: relative;
    left: 50%;
    transform: translateX(-50%);
  }
  
  .cover-wrapper a {
    width: 100%;
    max-height: 250px;
    flex-wrap: nowrap;
    transition: flex 0.25s ease-in-out;
  }
  
  .cover-wrapper a:hover {
    flex: 6;
  }
  
  .cover-wrapper a:not(:hover) {
    flex: 1;
  }
  
  .cover-wrapper a img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .cover-wrapper a video {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .modal-link-title, .modal-link {
    display: none;
  }